@import "myBrowsingHistory.less";
@import "libs/confirmTip.less";
.list-wrap li a{font-size: inherit; color: inherit; display: block;}
.del{
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 0;
	z-index: 3;
	width: .28rem;
	padding: .1rem .06rem .13rem;
	height: .18rem;
	text-align: right;
	&:before{
		display: inline-block;
		.border();
		width: .28rem;
		height: .18rem;
		border-radius: .07rem;
		text-align: center;
		vertical-align: top;
		content: "×";
		color: @c_sub;
		font-size: .13rem;
		line-height: .18rem;
		font-family: "PingFang ExtraLight";
	}
}
.view_1 .del{
	right: 1.28rem;;
}
li.view_2{
	.imgbox{
		position: relative;
		.gif{
			display: block;
			position: absolute;
			width: .42rem;
			left: 50%;
			margin-left: -.22rem;
			top: 50%;
			.lineH(.2rem);
			margin-top: -.1rem;
			z-index: 9;
			background-color: rgba(0, 0, 0, 0.4);
			color: #fff;
			text-align: center;
			font-size: .11rem;
			border-radius: .12rem;
			border-style: solid;
			border-width: .02rem;
			border-color: rgba(255, 255, 255, 0.5);
			&:before{
				content: "GIF";
				display: inline;
			}
		}
	}
}
