@import "reset.less";
.hd{
	text-align: center;
	position: relative;
	color: #fff;
	width: 100%;
	line-height: 1;
	font-size: 0;
	padding-top: .2rem;
	height: 2.1rem;
    background-image: -webkit-linear-gradient(top, color-stop(#ffcd00 0%), color-stop(#ffa200 100%));
    background-image: -o-linear-gradient(top, #ffcd00 0%, #ffa200 100%); 
    background-image: linear-gradient(to bottom, #ffcd00 0%, #ffa200 100%);
    background-repeat: repeat-y;
    .hd-top{
    	text-align: center;
    	font-size: @size_t4;
    	.rmb{
			font-size: .4rem;
			line-height: 1.6;
    	}
    	.totle{
    		font-size: @size;
    		display: inline-block;
    		padding: 0 .3rem;
    		.lineH(.3rem);
    		color: #fecf80;
    		background-color: #fd9f00;
    		border-radius: .15rem;
    	}
    }
	.gold, .exchange{
		position: absolute;
		z-index: 2;
		bottom: .24rem;
		width: 50%;
		padding-top: .39rem;
		text-align: center;
	}
	.gold{
		left: 0;
	}
	.exchange {
		right: 0;
		.num em{display: inline-block; vertical-align: middle;}
		.num i{
			display: inline-block;
			vertical-align: middle;
			text-align: center;
			width: .2rem;
			.lineH(.2rem);
			background-color: #f37a01;
			border-radius: 50%;
			position: relative;
			&:before{ 
				display: block; 
				content: '?'; 
				position: absolute; 
				top:0; 
				left: 0; 
				width: .2rem;
				color: #ffc22d; 
				font-size: .12rem;
			}
		}
	}
	.txt{
		font-size: @size_t4;
		line-height: .2rem;
	}
	.num{ 
		font-size: @size_t1;
		margin-top: .14rem;
	}
	.line{
		border-left: 1px solid #ffd892;
		position: absolute;
		height: .54rem;
		left: 50%;
		bottom: .24rem;
	}
}
.main{
	background-color: #fff;
	.nav{
		.border-b();
		text-align: center;
		font-size: 0;
		li{
			position: relative;
			width: 50%;
			display: inline-block;
			color: #999;
			font-size: .17rem;
			line-height: 1;
			padding: .15rem 0;
			&:before{
				position: absolute;
				display: inline-block;
				bottom: 0;
				height: 5px;
				left: 50%;    
				width: 1.6em;
    			margin-left: -.8em;
				background-color: transparent;
				content: "";
			}
			&.active{
				color: #000;
				&:before{background-color:#ffc524;}
			}
		}
	}
	.main-list{
		padding: 0 8px;
		ul{
			li{
				position: relative;
				height: .4rem;
			    padding: .1rem 0;
			    line-height: 1;
				.item{
					width: 100%;
					h3{font-size: @size; margin-top: .05rem; max-width: 76%; height: 1em; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
					.tag{font-size: @size_small; margin-top: .07rem; color: @c_sub;}
				}
				.gold, .time{
					position: absolute;
				    right: 0;
				}
				.gold{
					top: .12rem;
				    color: #ffbc00;
				    font-size: .18rem;
				    line-height: 1;
				}
				.coin:after{
					display: inline-block;
					vertical-align: bottom;
					margin-right: -.04rem;
					content: "";
					height: .14rem;
    				width: .18rem;
					background: url(../image/icon_myincome.png) no-repeat;
					background-size: 100% auto;
					background-position: 0 0;
			    }
				.time{
					font-size: .12rem;
					color: #999;
					bottom: .12rem;
				}

			}
		}
	}
}
body{padding-bottom: .62rem;}
.b-fixed{
	display: none;
	position: fixed;
	bottom: 0;
	text-align: center;
	.lineH(.62rem);
	width: 100%;
	font-size: @size_t2;
	color: #fff;
	background-color: #ffbb1c;
}