@charset "UTF-8";
@media screen and (max-width: 319px) {
  html {
    font-size: 85.33333px;
  }
}
@media screen and (min-width: 320px) and (max-width: 359px) {
  html {
    font-size: 85.33333px;
  }
}
@media screen and (min-width: 360px) and (max-width: 374px) {
  html {
    font-size: 96px;
  }
}
@media screen and (min-width: 375px) and (max-width: 383px) {
  html {
    font-size: 100px;
  }
}
@media screen and (min-width: 384px) and (max-width: 399px) {
  html {
    font-size: 102.4px;
  }
}
@media screen and (min-width: 400px) and (max-width: 413px) {
  html {
    font-size: 106.66667px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 110.4px;
  }
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  line-height: 1.7;
  font-size: .12rem;
  color: #333;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  background-color: #f7f7f7;
}
.max-w-750 {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}
a {
  -webkit-touch-callout: none;
  text-decoration: none;
  color: #333;
}
a:hover,
a:active {
  color: #066AAF;
}
img.notfind {
  width: 65.333%;
  margin-top: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  font-size: .14rem;
  line-height: 50px;
  text-align: center;
}
p {
  font-size: .14rem;
  text-align: center;
}
