@charset "UTF-8";
.txt-gray {
  color: #b8b8b8;
}
.txt-red {
  color: #fa3719;
}
h1,
h2,
h3,
h4 {
  color: #1f1f1f;
  line-height: 1;
  font-weight: normal;
}
h1 {
  font-size: 0.22rem;
}
h2 {
  font-size: 0.2rem;
}
h3 {
  font-size: 0.18rem;
}
h4 {
  font-size: 0.16rem;
}
h6 {
  font-size: 0.13rem;
  color: #b8b8b8;
  font-weight: normal;
}
.border-box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-loading-wrap {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  text-align: center;
  height: 40px;
}
.ui-loading-bright {
  width: 37px;
  height: 37px;
  display: block;
  background-image: url(../image/loading_sprite_white.png);
  -webkit-background-size: auto 37px;
  -webkit-animation: am-rotate2 1s steps(12) infinite;
  margin: 18px 0 8px;
}
.ui-loading-block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  background: transparent;
}
.ui-loading-block .ui-loading-cnt {
  width: 130px;
  height: 110px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
}
.ui-loading-block.show {
  display: -webkit-box;
  display: box;
}
@-webkit-keyframes am-rotate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -240px 0;
  }
}
@-webkit-keyframes am-rotate2 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -444px 0;
  }
}
.empty img {
  display: block;
  width: 37%;
  margin-top: .78rem;
  margin-left: auto;
  margin-right: auto;
}
.empty p {
  color: #b8b8b8;
  font-size: .18rem;
  text-align: center;
  margin-top: .28rem;
}
.laypage_main a,
.laypage_main span {
  display: block;
  text-align: center;
  line-height: 40px;
  color: #b8b8b8;
}
.ui-popup-screen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  z-index: 999;
}
.km-dialog {
  background-color: rgba(0, 0, 0, 0);
}
.km-dialog.show-dialog {
  opacity: 1;
}
.km-dialog .km-popup {
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  width: 62.2133%;
  max-width: 466px;
  min-width: 233px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 18px 0;
}
.km-dialog .km-popup .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 14px;
  -webkit-text-stroke-width: 0;
  width: 24px;
  height: 24px;
  line-height: 24px;
}
.km-dialog .km-popup .content {
  text-align: center;
  text-align: -webkit-center;
}
.km-dialog .km-popup .content h1 {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 28px;
  padding: 6px;
  font-weight: bold;
  color: #fff;
}
.km-dialog .km-popup .content p {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
}
.km-dialog .km-popup .content .pic img {
  display: block;
  width: 60%;
  margin: auto;
}
@media screen and (max-width: 319px) {
  html {
    font-size: 85.33333px;
  }
}
@media screen and (min-width: 320px) and (max-width: 359px) {
  html {
    font-size: 85.33333px;
  }
}
@media screen and (min-width: 360px) and (max-width: 374px) {
  html {
    font-size: 96px;
  }
}
@media screen and (min-width: 375px) and (max-width: 383px) {
  html {
    font-size: 100px;
  }
}
@media screen and (min-width: 384px) and (max-width: 399px) {
  html {
    font-size: 102.4px;
  }
}
@media screen and (min-width: 400px) and (max-width: 413px) {
  html {
    font-size: 106.66667px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 110.4px;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  font-family: PingFangSC-Regular, HelveticaNeue-Thin, "微软雅黑", helvetica, verdana, sans-serif, roboto, NotoSansHand-Regular, "冬青黑体", "华文细黑";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  line-height: 1.7;
  font-size: 0.15rem;
  outline: 0;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
}
.max-w-750 {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
}
.hide {
  display: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
svg:not(:root) {
  overflow: hidden;
}
a {
  background: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
a:active {
  outline: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
li {
  list-style: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: 0;
}
button {
  -webkit-appearance: none;
  border: 0;
  background: 0 0;
}
a {
  -webkit-touch-callout: none;
  text-decoration: none;
}
:focus {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}
em,
i {
  font-style: normal;
}
::-webkit-input-placeholder {
  color: #bbb;
}
.clearfix:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.ui-nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ui-nowrap-multi {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.ui-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1.6rem;
  height: 0.4rem;
  line-height: 0.4rem;
  background-color: #ffc600;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  border: 0 none;
  font-size: 0.18rem;
}
@font-face {
  font-family: "iconfont";
  src: url('font/iconfont.eot?t=1477104387');
  src: url('font/iconfont.eot?t=1477104387#iefix') format('embedded-opentype'), url('font/iconfont.woff?t=1477104387') format('woff'), url('font/iconfont.ttf?t=1477104387') format('truetype'), url('font/iconfont.svg?t=1477104387#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.ui-icon-return:before {
  margin-left: 15px;
  content: "\e600";
}
.ui-arrowlink {
  -webkit-text-stroke-width: 0;
  color: #ccc;
}
.ui-arrowlink:before {
  position: absolute;
  right: 10px;
  content: "\e601";
}
.icon-sum:before {
  content: "\e602";
  color: #b8b8b8;
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
}
.icon-close:before {
  content: "\e603";
}
.icon-guize:before {
  content: "\e647";
}
.icon-tixing:before {
  content: "\e60f";
}
@media (max-width: 320px) {
  .ui-icon-return:before {
    margin-left: 10px;
  }
}
i#lDom ~ div:not(.km-dialog),
i#lDom ~ span,
i#lDom ~ iframe {
  display: none !important;
  opacity: 0 !important;
}
body {
  background-color: #f25c3c;
}
.zhuafa {
  background-image: url(../static/img/zhuanfa_bg.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}
.head {
  margin: .15rem;
}
.head .page_tit {
  width: 100%;
  display: block;
}
.head .txt {
  color: #fff;
}
.list {
  margin: 0 .15rem;
}
.list li {
  display: block;
  position: relative;
  margin-top: .1rem;
  background-color: #fff;
  border-radius: .06rem;
  overflow: hidden;
  padding-left: 1.05rem;
}
.list li .left {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 1.05rem;
  height: 100%;
  background-image: -o-linear-gradient(20deg, #fcec83 25%, #ffd633 100%);
  background-image: -ms-linear-gradient(20deg, #fcec83 25%, #ffd633 100%);
  background-image: -webkit-linear-gradient(20deg, #fcec83 25%, #ffd633 100%);
  background-image: linear-gradient(20deg, #fcec83 25%, #ffd633 100%);
  background-repeat: repeat-x;
  text-align: center;
}
.list li .left .coin {
  font-size: .32rem;
  color: #000;
  font-weight: 600;
  margin-top: .14rem;
  line-height: 1.3;
}
.list li .left .txt {
  font-size: .13rem;
  color: #000;
}
.list li .left .tag {
  color: #fff;
  width: .8rem;
  height: 0.24rem;
  line-height: 0.24rem;
  margin: .08rem auto;
  font-size: .12rem;
  border-radius: .04rem;
}
.list li .left .tag.color4 {
  background-color: #71d951;
}
.list li .left .tag.color8 {
  background-color: #3bbb59;
}
.list li .left .tag.color5 {
  background-color: #5dbee2;
}
.list li .left .tag.color6 {
  background-color: #ffc105;
}
.list li .left .tag.color7 {
  background-color: #ff7e20;
}
.list li .info {
  padding-bottom: .22rem;
}
.list li .info p {
  margin: .15rem;
  color: #000;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: .18rem;
  line-height: 1.4;
  min-height: 2.8em;
}
.list li .info .schedule {
  margin-left: .15rem;
  height: 0.2rem;
  line-height: 0.2rem;
}
.list li .info .schedule .schedule_bar,
.list li .info .schedule .txt {
  display: inline-block;
  vertical-align: middle;
}
.list li .info .schedule .schedule_bar {
  position: relative;
  width: .93rem;
  height: .08rem;
  border-radius: .04rem;
  overflow: hidden;
  background-color: #e6e6e6;
}
.list li .info .schedule .schedule_bar i {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #ffc12b;
  border-radius: .04rem;
}
.list li .info .schedule .txt {
  color: #737373;
  font-size: .13rem;
  margin-left: .1rem;
}
.list li.over .left {
  background: #e0e0e0 !important;
}
.list li.over .left .coin,
.list li.over .left .txt {
  color: #808080;
}
.list li.over .left .tag {
  background-color: #b3b3b3 !important;
}
.list li.over .info p {
  color: #808080;
}
.list li.over .info .schedule .schedule_bar i {
  background-color: #f9e9c1;
}
.btn {
  margin: .15rem;
  height: 0.54rem;
  line-height: 0.54rem;
  text-align: center;
  color: #000;
  background-color: #ffd633;
  font-size: .2rem;
  border-radius: .08rem;
}
.tips {
  margin: 0 .15rem;
  padding-bottom: .15rem;
}
.tips h4 {
  margin: .2rem 0 .15rem;
  position: relative;
  text-align: center;
  color: #fff;
}
.tips h4:before,
.tips h4:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 1px;
  background-color: #fff;
  width: 5.2em;
}
.tips h4:before {
  margin-left: -8.2em;
}
.tips h4:after {
  margin-left: 3em;
}
.tips p {
  margin-top: .1rem;
  color: #fff;
  font-size: .13rem;
}
