@charset "UTF-8";
@media screen and (max-width: 319px) {
  html {
    font-size: 85.33333px;
  }
}
@media screen and (min-width: 320px) and (max-width: 359px) {
  html {
    font-size: 85.33333px;
  }
}
@media screen and (min-width: 360px) and (max-width: 374px) {
  html {
    font-size: 96px;
  }
}
@media screen and (min-width: 375px) and (max-width: 383px) {
  html {
    font-size: 100px;
  }
}
@media screen and (min-width: 384px) and (max-width: 399px) {
  html {
    font-size: 102.4px;
  }
}
@media screen and (min-width: 400px) and (max-width: 413px) {
  html {
    font-size: 106.66667px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 110.4px;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  font-family: "PingFangSC-Regular", "HelveticaNeue-Thin", "微软雅黑", helvetica, verdana, sans-serif, roboto, NotoSansHand-Regular, "冬青黑体", "华文细黑";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  line-height: 1.7;
  outline: 0;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
}
a {
  background: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
a:active {
  outline: 0;
}
.max-w-750 {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
}
.max-w-750 .cur_v {
  position: relative;
  margin-top: 1rem;
  text-align: center;
  width: 2.6rem;
  margin: 1rem auto .2rem;
  padding: .38rem 0;
  line-height: 2.4;
  font-size: .2rem;
  background-color: #fbf3ca;
  border: 1px solid #eee;
  box-shadow: 0 0.06rem 0.2rem rgba(0, 0, 0, 0.27), 0 0 0.5rem rgba(0, 0, 0, 0.06) inset;
  color: #555;
}
.max-w-750 .cur_v:after {
  width: 1.8rem;
  height: .3rem;
  content: " ";
  margin-left: -0.9rem;
  border: 1px solid rgba(200, 200, 200, 0.8);
  background: rgba(254, 254, 254, 0.6);
  -moz-box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1);
  -moz-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
  position: absolute;
  left: 50%;
  top: -0.2rem;
}
body {
  background-color: #d6c6ad;
}
.imgbox {
  width: 2.32rem;
  height: 2.32rem;
  border-radius: 50%;
  background-color: #c6b292;
  margin: .84rem auto 0;
  overflow: hidden;
}
.imgbox img {
  display: block;
  width: 100%;
}
p {
  width: 9.1em;
  margin: .22rem auto;
  color: #fff;
  font-size: .22rem;
}
.option {
  padding-top: .1rem;
}
.option .ui-btn {
  display: block;
  margin: 0 auto;
  line-height: .55rem;
  height: .55rem;
  width: 2.16rem;
  border-radius: .06rem;
  font-size: .22rem;
  text-align: center;
  color: #fff;
  background-color: #fd5939;
}
