@charset "UTF-8";
.txt-gray {
  color: #b8b8b8;
}
.txt-red {
  color: #fa3719;
}
h1,
h2,
h3,
h4 {
  color: #1f1f1f;
  line-height: 1;
  font-weight: normal;
}
h1 {
  font-size: 0.22rem;
}
h2 {
  font-size: 0.2rem;
}
h3 {
  font-size: 0.18rem;
}
h4 {
  font-size: 0.16rem;
}
h6 {
  font-size: 0.13rem;
  color: #b8b8b8;
  font-weight: normal;
}
.border-box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-loading-wrap {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  text-align: center;
  height: 40px;
}
.ui-loading-bright {
  width: 37px;
  height: 37px;
  display: block;
  background-image: url(../image/loading_sprite_white.png);
  -webkit-background-size: auto 37px;
  -webkit-animation: am-rotate2 1s steps(12) infinite;
  margin: 18px 0 8px;
}
.ui-loading-block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  background: transparent;
}
.ui-loading-block .ui-loading-cnt {
  width: 130px;
  height: 110px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
}
.ui-loading-block.show {
  display: -webkit-box;
  display: box;
}
@-webkit-keyframes am-rotate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -240px 0;
  }
}
@-webkit-keyframes am-rotate2 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -444px 0;
  }
}
.empty img {
  display: block;
  width: 37%;
  margin-top: .78rem;
  margin-left: auto;
  margin-right: auto;
}
.empty p {
  color: #b8b8b8;
  font-size: .18rem;
  text-align: center;
  margin-top: .28rem;
}
.laypage_main a,
.laypage_main span {
  display: block;
  text-align: center;
  line-height: 40px;
  color: #b8b8b8;
}
.ui-popup-screen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  z-index: 999;
}
.km-dialog {
  background-color: rgba(0, 0, 0, 0);
}
.km-dialog.show-dialog {
  opacity: 1;
}
.km-dialog .km-popup {
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  width: 62.2133%;
  max-width: 466px;
  min-width: 233px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 18px 0;
}
.km-dialog .km-popup .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 14px;
  -webkit-text-stroke-width: 0;
  width: 24px;
  height: 24px;
  line-height: 24px;
}
.km-dialog .km-popup .content {
  text-align: center;
  text-align: -webkit-center;
}
.km-dialog .km-popup .content h1 {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 28px;
  padding: 6px;
  font-weight: bold;
  color: #fff;
}
.km-dialog .km-popup .content p {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
}
.km-dialog .km-popup .content .pic img {
  display: block;
  width: 60%;
  margin: auto;
}
@media screen and (max-width: 319px) {
  html {
    font-size: 85.33333px;
  }
}
@media screen and (min-width: 320px) and (max-width: 359px) {
  html {
    font-size: 85.33333px;
  }
}
@media screen and (min-width: 360px) and (max-width: 374px) {
  html {
    font-size: 96px;
  }
}
@media screen and (min-width: 375px) and (max-width: 383px) {
  html {
    font-size: 100px;
  }
}
@media screen and (min-width: 384px) and (max-width: 399px) {
  html {
    font-size: 102.4px;
  }
}
@media screen and (min-width: 400px) and (max-width: 413px) {
  html {
    font-size: 106.66667px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 110.4px;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  font-family: PingFangSC-Regular, HelveticaNeue-Thin, "微软雅黑", helvetica, verdana, sans-serif, roboto, NotoSansHand-Regular, "冬青黑体", "华文细黑";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  line-height: 1.7;
  font-size: 0.15rem;
  outline: 0;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
}
.max-w-750 {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
}
.hide {
  display: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
svg:not(:root) {
  overflow: hidden;
}
a {
  background: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
a:active {
  outline: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
li {
  list-style: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: 0;
}
button {
  -webkit-appearance: none;
  border: 0;
  background: 0 0;
}
a {
  -webkit-touch-callout: none;
  text-decoration: none;
}
:focus {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}
em,
i {
  font-style: normal;
}
::-webkit-input-placeholder {
  color: #bbb;
}
.clearfix:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.ui-nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ui-nowrap-multi {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.ui-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1.6rem;
  height: 0.4rem;
  line-height: 0.4rem;
  background-color: #ffc600;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  border: 0 none;
  font-size: 0.18rem;
}
@font-face {
  font-family: "iconfont";
  src: url('font/iconfont.eot?t=1477104387');
  src: url('font/iconfont.eot?t=1477104387#iefix') format('embedded-opentype'), url('font/iconfont.woff?t=1477104387') format('woff'), url('font/iconfont.ttf?t=1477104387') format('truetype'), url('font/iconfont.svg?t=1477104387#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.ui-icon-return:before {
  margin-left: 15px;
  content: "\e600";
}
.ui-arrowlink {
  -webkit-text-stroke-width: 0;
  color: #ccc;
}
.ui-arrowlink:before {
  position: absolute;
  right: 10px;
  content: "\e601";
}
.icon-sum:before {
  content: "\e602";
  color: #b8b8b8;
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
}
.icon-close:before {
  content: "\e603";
}
.icon-guize:before {
  content: "\e647";
}
.icon-tixing:before {
  content: "\e60f";
}
@media (max-width: 320px) {
  .ui-icon-return:before {
    margin-left: 10px;
  }
}
i#lDom ~ div:not(.km-dialog),
i#lDom ~ span,
i#lDom ~ iframe {
  display: none !important;
  opacity: 0 !important;
}
body {
  background-color: #fc4c23;
}
.img-box {
  width: 100%;
}
.img-box img {
  display: block;
  width: 100%;
}
.today,
.total,
.rule {
  padding-left: .15rem;
  padding-right: .15rem;
  margin-top: .09rem;
}
.today .box {
  background-color: #ffbb5e;
  border: 0.08rem solid #feedd6;
  text-align: center;
  padding-left: .14rem;
  padding-right: .14rem;
}
.today .box h2 {
  font-family: 'PingFangSC Semibold';
  color: #4b3e2c;
  position: relative;
  width: 100%;
  padding: .2rem 0;
}
.today .box .btn,
.today .box .tip {
  height: 0.49rem;
  line-height: 0.49rem;
}
.today .box .btn {
  display: block;
  width: 2.05rem;
  border-radius: .25rem;
  margin: 0 auto;
  font-size: 0.22rem;
  color: #292929;
  background-color: #ffe223;
  border-bottom: 3px solid #d99b46;
}
.today .box .tip {
  color: #c37b18;
  font-size: 0.22rem;
}
.today .box .text {
  border-top: 1px dashed #efa743;
  margin-top: .19rem;
  text-align: left;
  padding: .1rem .34rem .15rem;
}
.total .box {
  background-color: #feedd6;
  padding: .16rem 8% .32rem;
  position: relative;
  min-height: .8rem;
}
.total .box ul {
  position: relative;
  z-index: 4;
  width: 100%;
  margin-top: .28rem;
  display: box;
  display: -webkit-box;
}
.total .box ul li {
  width: 1%;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  text-align: center;
}
.total .box ul li .txt {
  font-size: .14rem;
  color: #b47f36;
  line-height: 1;
}
.total .box ul li img {
  display: block;
  width: 65%;
  margin: .1rem auto 0;
}
.total .box ul li .btn {
  margin: .16rem auto 0;
  color: #382812;
  font-size: .14rem;
  height: 0.28rem;
  line-height: 0.28rem;
  width: 6.4em;
  border-radius: .14rem;
  background-color: #f1d9b9;
  border-bottom: 2px solid #cdad83;
  box-shadow: 0px 3px 0px #f5d7af;
  opacity: .5;
}
.total .box ul li .btn.ok {
  background-color: #ffde0a;
  border-bottom: 2px solid #faa30d;
  box-shadow: 0px 3px 0px #f5d7af;
  opacity: 1;
}
.total .box .schedule-box {
  position: relative;
  margin-top: .36rem;
  width: 94%;
}
.total .box .schedule_bar,
.total .box .cur_txt {
  position: relative;
  width: 90%;
}
.total .box .schedule_bar {
  z-index: 1;
  background-color: #f2daba;
  height: .12rem;
  border-radius: .06rem;
  overflow: hidden;
}
.total .box .schedule_bar i {
  display: block;
  position: absolute;
  height: 100%;
  background-color: #ffce0a;
}
.total .box .cur_txt span {
  display: block;
  position: absolute;
  z-index: 9;
  bottom: 0;
  margin-bottom: .26rem;
  width: .36rem;
  height: 0.2rem;
  line-height: 0.2rem;
  font-size: .1rem;
  background-color: #d9c5ab;
  color: #fff;
  text-align: center;
  border-radius: .06rem;
  margin-left: -0.18rem;
}
.total .box .cur_txt span:before,
.total .box .cur_txt span:after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  border-style: solid;
  left: 50%;
}
.total .box .cur_txt span:before {
  margin-bottom: -12px;
  margin-left: -6px;
  border-width: 6px;
  border-color: #d9c5ab transparent transparent;
}
.total .box .cur_txt span:after {
  width: .12rem;
  height: .12rem;
  margin-bottom: -0.29rem;
  margin-left: -0.1rem;
  border-width: .05rem;
  border-color: #ccab7f;
  border-radius: 50%;
  background-color: #f2daba;
}
.total .box .cur_txt span.get {
  background-color: #38332e;
}
.total .box .cur_txt span.get:before {
  border-color: #38332e transparent transparent;
}
.total .box .cur_txt span.get:after {
  background-color: #ffce0a;
  border-color: #38332e;
}
.total .box .cur_txt em.curget {
  display: block;
  position: absolute;
  z-index: 9;
  top: 0;
  margin-top: .12rem;
  width: 5.2em;
  height: 0.2rem;
  line-height: 0.2rem;
  font-size: .1rem;
  background-color: #ff3314;
  color: #fff;
  text-align: center;
  border-radius: .06rem;
  margin-left: -2.6em;
}
.total .box .cur_txt em.curget:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  border-style: solid;
  left: 50%;
  margin-top: -12px;
  margin-left: -6px;
  border-width: 6px;
  border-color: transparent transparent #ff3314;
}
.rule {
  padding-top: .08rem;
  padding-bottom: .08rem;
  background-color: #feedd6;
}
.rule h2 {
  font-family: 'PingFangSC Semibold';
  color: #4b3e2c;
  position: relative;
  text-align: center;
  width: 100%;
  padding: .13rem 0;
  border-bottom: 1px solid #edd7b9;
}
.rule h2:before,
.rule h2:after {
  width: .04rem;
  height: .04rem;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -0.02rem;
  left: 50%;
  border-radius: 50%;
  background-color: #edd4b2;
}
.rule h2:before {
  margin-left: -0.62rem;
}
.rule h2:after {
  margin-left: .55rem;
}
.rule p {
  color: #9e8b70;
  font-size: 0.15rem;
  padding-top: .1rem;
  padding-bottom: .1rem;
}
.pop-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: .7;
  z-index: 9;
}
.pop-screen {
  width: 300px;
  height: 160px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 12;
  margin: auto;
  background-color: #fff;
  border-radius: 6px;
}
.pop-screen .box {
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  background-color: #fff;
  border-radius: 6px;
}
.pop-screen .box .icon-close {
  position: absolute;
  z-index: 13;
  right: 0;
  top: 0;
  line-height: 1;
  padding: 10px;
}
.pop-screen .box h1 {
  font-size: 22px;
  line-height: 1.3;
}
.pop-screen .box h3 {
  font-size: 18px;
}
.pop-screen .box .hd-img {
  position: relative;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.pop-screen .box .text {
  font-size: .15rem;
  color: #b8b8b8;
  padding: 10px 0;
  line-height: 1.5;
}
.pop-screen .box .ad {
  margin-top: 20px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  overflow: hidden;
}
.pop-screen .box .ad img {
  display: block;
  width: 100%;
}
.pop-screen .box .btnbox {
  padding: .1rem 0 .2rem;
}
.pop-screen .box .btnbox a {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 2.2rem;
  height: 0.52rem;
  line-height: 0.52rem;
  background-color: #ff5b3b;
  color: #fff;
  border-radius: 6px;
}
.pop-screen .box .btnbox a {
  font-size: 0.2rem;
  background-color: #ffc524;
}
.pop-screen .box .text .rec_img {
  display: block;
  width: .76rem;
  margin: .1rem auto;
}
.pop-screen .box .text .rec_red {
  color: #fa3719;
  font-size: 0.15rem;
}
.pop-screen .box .text .rec_gray {
  color: #b8b8b8;
  font-size: 0.18rem;
  margin-top: .06rem;
}
.pop-screen .box .text .rec_over {
  padding: 0 .26rem;
  text-align: left;
  font-size: 0.18rem;
  color: #525252;
}
