@charset "UTF-8";
.txt-gray {
  color: #b8b8b8;
}
.txt-red {
  color: #fa3719;
}
h1,
h2,
h3,
h4 {
  color: #1f1f1f;
  line-height: 1;
  font-weight: normal;
}
h1 {
  font-size: 0.22rem;
}
h2 {
  font-size: 0.2rem;
}
h3 {
  font-size: 0.18rem;
}
h4 {
  font-size: 0.16rem;
}
h6 {
  font-size: 0.13rem;
  color: #b8b8b8;
  font-weight: normal;
}
.border-box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-loading-wrap {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  text-align: center;
  height: 40px;
}
.ui-loading-bright {
  width: 37px;
  height: 37px;
  display: block;
  background-image: url(../image/loading_sprite_white.png);
  -webkit-background-size: auto 37px;
  -webkit-animation: am-rotate2 1s steps(12) infinite;
  margin: 18px 0 8px;
}
.ui-loading-block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  background: transparent;
}
.ui-loading-block .ui-loading-cnt {
  width: 130px;
  height: 110px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
}
.ui-loading-block.show {
  display: -webkit-box;
  display: box;
}
@-webkit-keyframes am-rotate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -240px 0;
  }
}
@-webkit-keyframes am-rotate2 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -444px 0;
  }
}
.empty img {
  display: block;
  width: 37%;
  margin-top: .78rem;
  margin-left: auto;
  margin-right: auto;
}
.empty p {
  color: #b8b8b8;
  font-size: .18rem;
  text-align: center;
  margin-top: .28rem;
}
.laypage_main a,
.laypage_main span {
  display: block;
  text-align: center;
  line-height: 40px;
  color: #b8b8b8;
}
.ui-popup-screen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  z-index: 999;
}
.km-dialog {
  background-color: rgba(0, 0, 0, 0);
}
.km-dialog.show-dialog {
  opacity: 1;
}
.km-dialog .km-popup {
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  width: 62.2133%;
  max-width: 466px;
  min-width: 233px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 18px 0;
}
.km-dialog .km-popup .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 14px;
  -webkit-text-stroke-width: 0;
  width: 24px;
  height: 24px;
  line-height: 24px;
}
.km-dialog .km-popup .content {
  text-align: center;
  text-align: -webkit-center;
}
.km-dialog .km-popup .content h1 {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 28px;
  padding: 6px;
  font-weight: bold;
  color: #fff;
}
.km-dialog .km-popup .content p {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
}
.km-dialog .km-popup .content .pic img {
  display: block;
  width: 60%;
  margin: auto;
}
@media screen and (max-width: 319px) {
  html {
    font-size: 85.33333px;
  }
}
@media screen and (min-width: 320px) and (max-width: 359px) {
  html {
    font-size: 85.33333px;
  }
}
@media screen and (min-width: 360px) and (max-width: 374px) {
  html {
    font-size: 96px;
  }
}
@media screen and (min-width: 375px) and (max-width: 383px) {
  html {
    font-size: 100px;
  }
}
@media screen and (min-width: 384px) and (max-width: 399px) {
  html {
    font-size: 102.4px;
  }
}
@media screen and (min-width: 400px) and (max-width: 413px) {
  html {
    font-size: 106.66667px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 110.4px;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  font-family: PingFangSC-Regular, HelveticaNeue-Thin, "微软雅黑", helvetica, verdana, sans-serif, roboto, NotoSansHand-Regular, "冬青黑体", "华文细黑";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  line-height: 1.7;
  font-size: 0.15rem;
  outline: 0;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
}
.max-w-750 {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
}
.hide {
  display: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
svg:not(:root) {
  overflow: hidden;
}
a {
  background: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
a:active {
  outline: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
li {
  list-style: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: 0;
}
button {
  -webkit-appearance: none;
  border: 0;
  background: 0 0;
}
a {
  -webkit-touch-callout: none;
  text-decoration: none;
}
:focus {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}
em,
i {
  font-style: normal;
}
::-webkit-input-placeholder {
  color: #bbb;
}
.clearfix:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.ui-nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ui-nowrap-multi {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.ui-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1.6rem;
  height: 0.4rem;
  line-height: 0.4rem;
  background-color: #ffc600;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  border: 0 none;
  font-size: 0.18rem;
}
@font-face {
  font-family: "iconfont";
  src: url('font/iconfont.eot?t=1477104387');
  src: url('font/iconfont.eot?t=1477104387#iefix') format('embedded-opentype'), url('font/iconfont.woff?t=1477104387') format('woff'), url('font/iconfont.ttf?t=1477104387') format('truetype'), url('font/iconfont.svg?t=1477104387#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.ui-icon-return:before {
  margin-left: 15px;
  content: "\e600";
}
.ui-arrowlink {
  -webkit-text-stroke-width: 0;
  color: #ccc;
}
.ui-arrowlink:before {
  position: absolute;
  right: 10px;
  content: "\e601";
}
.icon-sum:before {
  content: "\e602";
  color: #b8b8b8;
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
}
.icon-close:before {
  content: "\e603";
}
.icon-guize:before {
  content: "\e647";
}
.icon-tixing:before {
  content: "\e60f";
}
@media (max-width: 320px) {
  .ui-icon-return:before {
    margin-left: 10px;
  }
}
i#lDom ~ div:not(.km-dialog),
i#lDom ~ span,
i#lDom ~ iframe {
  display: none !important;
  opacity: 0 !important;
}
.pop-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: .7;
  z-index: 9;
}
.pop-screen {
  width: 300px;
  height: 160px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 12;
  margin: auto;
  background-color: #fff;
  border-radius: 6px;
}
.pop-screen .box {
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  background-color: #fff;
  border-radius: 6px;
}
.pop-screen .box .icon-close {
  position: absolute;
  z-index: 13;
  right: 0;
  top: 0;
  line-height: 1;
  padding: 10px;
}
.pop-screen .box h1 {
  font-size: 22px;
  line-height: 1.3;
}
.pop-screen .box h3 {
  font-size: 18px;
}
.pop-screen .box .hd-img {
  position: relative;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.pop-screen .box .text {
  font-size: .15rem;
  color: #b8b8b8;
  padding: 10px 0;
  line-height: 1.5;
}
.pop-screen .box .ad {
  margin-top: 20px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  overflow: hidden;
}
.pop-screen .box .ad img {
  display: block;
  width: 100%;
}
.pop-screen .box .btnbox {
  padding: .1rem 0 .2rem;
}
.pop-screen .box .btnbox a {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 2.2rem;
  height: 0.52rem;
  line-height: 0.52rem;
  background-color: #ff5b3b;
  color: #fff;
  border-radius: 6px;
}
body {
  background-color: #ffe016;
}
.max-w-750 {
  background: url(../image/list_bg.png) no-repeat;
  background-size: 100% auto;
  background-color: #ffe016;
}
.header-timer {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.header-timer a {
  color: #fff;
}
.header-timer .options a {
  position: absolute;
  top: 14px;
  z-index: 1;
  display: inline-block;
  background-color: #db9b03;
  height: 32px;
  line-height: 32px;
  padding: 0 20px;
  border-radius: 16px;
}
.header-timer .options a.rule-link {
  left: 0;
  margin-left: -12px;
}
.header-timer .options a.issue {
  right: 0;
  margin-right: -12px;
  width: .86rem;
}
.header-timer .h-box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: .1rem;
}
.header-timer .h-box .h-box-img {
  width: 100%;
  display: block;
}
.header-timer .h-box .h-tit {
  color: #1f1f1f;
  font-size: 0.15rem;
  position: absolute;
  bottom: .08rem;
  width: 100%;
}
.header-timer .h-box .h-tit .timer {
  margin-left: .1rem;
}
.header-timer .h-box .h-tips {
  position: absolute;
  top: 1.16rem;
  text-align: center;
  width: 100%;
}
.header-timer .h-box .h-tips div {
  color: #fff;
  background-color: #ed490e;
  padding-left: .1rem;
  padding-right: .1rem;
  height: 0.32rem;
  line-height: 0.32rem;
  display: inline-block;
  font-size: 0.15rem;
  border-radius: 6px;
}
.header-timer .h-box .h-tips div i {
  color: #fffd35;
  font-style: italic;
  margin-right: .04rem;
}
.main .nav {
  height: 44px;
  line-height: 44px;
  text-align: center;
}
.main .nav li {
  position: relative;
  width: 33.33%;
  float: left;
  color: #1f1f1f;
  font-size: 0.2rem;
}
.main .no_act {
  background-color: #fff;
  margin-bottom: .1rem;
  border-bottom: 1px solid #ebebeb;
}
.main .no_act li {
  color: #858585;
}
.main .no_act li:before {
  display: block;
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  width: 2em;
  height: .04rem;
  margin-left: -1em;
}
.main .no_act li.active {
  color: #1f1f1f;
}
.main .no_act li.active:before {
  background-color: #ffc524;
}
.main .act {
  margin-bottom: .08rem;
}
.main .act li:before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  height: 1em;
  margin-top: -0.5em;
  background-color: #ccb22c;
}
.main .act li:first-child:before {
  width: 0;
}
.main .act li.active {
  color: #fa3719;
}
.main .main-list {
  position: relative;
  padding-left: .15rem;
  padding-right: .15rem;
  padding-top: 1.7rem;
  min-height: 280px;
}
.main .main-list table {
  background-color: #fff;
  width: 100%;
}
.main .main-list table .tr td {
  border-bottom: 1px solid #ebebeb;
  padding-top: .1rem;
  padding-bottom: .1rem;
  text-align: center;
  font-size: 0.16rem;
  color: #1f1f1f;
  vertical-align: middle;
}
.main .main-list table .tr td:first-child {
  border-left: .13rem solid #fff;
}
.main .main-list table .tr td:last-child {
  border-right: .13rem solid #fff;
}
.main .main-list table .tr td.l-order span {
  display: block;
  width: .32rem;
  height: 0.32rem;
  line-height: 0.32rem;
  font-size: 0.18rem;
  color: #b8b8b8;
  background-color: #f5f5f5;
  border-radius: 50%;
}
.main .main-list table .tr td .jin:after,
.main .main-list table .tr td .yuan:after {
  display: inline;
  color: #b8b8b8;
  font-size: .12rem;
  margin-left: .04rem;
}
.main .main-list table .tr td .jin:after {
  content: '金';
}
.main .main-list table .tr td .yuan:after {
  content: '元';
}
.main .main-list table tr.top td {
  height: 0;
  padding: 0;
}
.main .main-list table .top_box {
  display: block;
  position: absolute;
  width: 30%;
  text-align: center;
}
.main .main-list table .top_box .photo {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  margin-top: -0.14rem;
  border: 0.03rem solid #f5f5f5;
  background: url(../image/news_icon.png) bottom left no-repeat;
  background-size: 100%;
}
.main .main-list table .top_box .photo img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.main .main-list table .top_box .photo:before {
  position: absolute;
  display: block;
  content: "";
  width: .2rem;
  height: .14rem;
  background: url(../image/list_icon.png) no-repeat top;
  background-size: 100%;
  top: -0.14rem;
  left: 50%;
  margin-left: -0.1rem;
}
.main .main-list table .top_box .tel {
  width: .96rem;
  height: .28rem;
  line-height: .28rem;
  text-align: center;
  margin: 0 auto;
  margin-top: -0.06rem;
  border-radius: .14rem;
  position: relative;
  font-size: 0.13rem;
}
.main .main-list table .top_box .txt,
.main .main-list table .top_box .coin,
.main .main-list table .top_box .yuan,
.main .main-list table .top_box .reward {
  line-height: 1;
  margin-top: .1rem;
}
.main .main-list table .top_box .txt {
  position: relative;
  font-size: .11rem;
  color: #ccc8b4;
}
.main .main-list table .top_box .txt:before,
.main .main-list table .top_box .txt:after {
  position: absolute;
  content: "";
  height: 1px;
  top: 50%;
  margin-top: -1px;
  background-color: #f0ebdd;
  width: 1.3em;
  left: 50%;
}
.main .main-list table .top_box .txt:before {
  margin-left: -3.6em;
}
.main .main-list table .top_box .txt:after {
  margin-left: 2.26em;
}
.main .main-list table .top_box .reward {
  color: #ff9100;
  font-size: 0.16rem;
}
.main .main-list table .top_box.no_0 {
  left: 35%;
  top: .24rem;
  height: 1.36rem;
  background-color: #fff;
}
.main .main-list table .top_box.no_0 .photo {
  width: .6rem;
  height: .6rem;
}
.main .main-list table .top_box.no_0 .photo:before {
  background-position: 0 0;
}
.main .main-list table .top_box.no_0 .tel {
  background-color: #ffda24;
  color: #614701;
}
.main .main-list table .top_box.no_1 {
  left: .1rem;
  top: .34rem;
  height: 1.26rem;
  background-color: #fffceb;
}
.main .main-list table .top_box.no_1 .photo {
  width: .5rem;
  height: .5rem;
}
.main .main-list table .top_box.no_1 .photo:before {
  background-position: 0 -0.18rem;
}
.main .main-list table .top_box.no_1 .tel {
  background-color: #ebe7d4;
  color: #6c695d;
}
.main .main-list table .top_box.no_2 {
  right: .1rem;
  top: .4rem;
  height: 1.2rem;
  background-color: #fff8d7;
}
.main .main-list table .top_box.no_2 .photo {
  width: .45rem;
  height: .45rem;
}
.main .main-list table .top_box.no_2 .photo:before {
  background-position: 0 -0.34rem;
}
.main .main-list table .top_box.no_2 .tel {
  background-color: #d7b17b;
  color: #655135;
}
.main .main-list table .top_box.high_h.no_0 {
  height: 1.84rem;
}
.main .main-list table .top_box.high_h.no_1 {
  height: 1.74rem;
}
.main .main-list table .top_box.high_h.no_2 {
  height: 1.68rem;
}
