@charset "UTF-8";
.txt-gray {
  color: #b8b8b8;
}
.txt-red {
  color: #fa3719;
}
h1,
h2,
h3,
h4 {
  color: #1f1f1f;
  line-height: 1;
  font-weight: normal;
}
h1 {
  font-size: 0.22rem;
}
h2 {
  font-size: 0.2rem;
}
h3 {
  font-size: 0.18rem;
}
h4 {
  font-size: 0.16rem;
}
h6 {
  font-size: 0.13rem;
  color: #b8b8b8;
  font-weight: normal;
}
.border-box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-loading-wrap {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  text-align: center;
  height: 40px;
}
.ui-loading-bright {
  width: 37px;
  height: 37px;
  display: block;
  background-image: url(../image/loading_sprite_white.png);
  -webkit-background-size: auto 37px;
  -webkit-animation: am-rotate2 1s steps(12) infinite;
  margin: 18px 0 8px;
}
.ui-loading-block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  background: transparent;
}
.ui-loading-block .ui-loading-cnt {
  width: 130px;
  height: 110px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
}
.ui-loading-block.show {
  display: -webkit-box;
  display: box;
}
@-webkit-keyframes am-rotate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -240px 0;
  }
}
@-webkit-keyframes am-rotate2 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -444px 0;
  }
}
.empty img {
  display: block;
  width: 37%;
  margin-top: .78rem;
  margin-left: auto;
  margin-right: auto;
}
.empty p {
  color: #b8b8b8;
  font-size: .18rem;
  text-align: center;
  margin-top: .28rem;
}
.laypage_main a,
.laypage_main span {
  display: block;
  text-align: center;
  line-height: 40px;
  color: #b8b8b8;
}
.ui-popup-screen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  z-index: 999;
}
.km-dialog {
  background-color: rgba(0, 0, 0, 0);
}
.km-dialog.show-dialog {
  opacity: 1;
}
.km-dialog .km-popup {
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  width: 62.2133%;
  max-width: 466px;
  min-width: 233px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 18px 0;
}
.km-dialog .km-popup .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 14px;
  -webkit-text-stroke-width: 0;
  width: 24px;
  height: 24px;
  line-height: 24px;
}
.km-dialog .km-popup .content {
  text-align: center;
  text-align: -webkit-center;
}
.km-dialog .km-popup .content h1 {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 28px;
  padding: 6px;
  font-weight: bold;
  color: #fff;
}
.km-dialog .km-popup .content p {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
}
.km-dialog .km-popup .content .pic img {
  display: block;
  width: 60%;
  margin: auto;
}
@media screen and (max-width: 319px) {
  html {
    font-size: 85.33333px;
  }
}
@media screen and (min-width: 320px) and (max-width: 359px) {
  html {
    font-size: 85.33333px;
  }
}
@media screen and (min-width: 360px) and (max-width: 374px) {
  html {
    font-size: 96px;
  }
}
@media screen and (min-width: 375px) and (max-width: 383px) {
  html {
    font-size: 100px;
  }
}
@media screen and (min-width: 384px) and (max-width: 399px) {
  html {
    font-size: 102.4px;
  }
}
@media screen and (min-width: 400px) and (max-width: 413px) {
  html {
    font-size: 106.66667px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 110.4px;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  font-family: PingFangSC-Regular, HelveticaNeue-Thin, "微软雅黑", helvetica, verdana, sans-serif, roboto, NotoSansHand-Regular, "冬青黑体", "华文细黑";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  line-height: 1.7;
  font-size: 0.15rem;
  outline: 0;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
}
.max-w-750 {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
}
.hide {
  display: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
svg:not(:root) {
  overflow: hidden;
}
a {
  background: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
a:active {
  outline: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
li {
  list-style: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: 0;
}
button {
  -webkit-appearance: none;
  border: 0;
  background: 0 0;
}
a {
  -webkit-touch-callout: none;
  text-decoration: none;
}
:focus {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}
em,
i {
  font-style: normal;
}
::-webkit-input-placeholder {
  color: #bbb;
}
.clearfix:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.ui-nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ui-nowrap-multi {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.ui-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1.6rem;
  height: 0.4rem;
  line-height: 0.4rem;
  background-color: #ffc600;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  border: 0 none;
  font-size: 0.18rem;
}
@font-face {
  font-family: "iconfont";
  src: url('font/iconfont.eot?t=1477104387');
  src: url('font/iconfont.eot?t=1477104387#iefix') format('embedded-opentype'), url('font/iconfont.woff?t=1477104387') format('woff'), url('font/iconfont.ttf?t=1477104387') format('truetype'), url('font/iconfont.svg?t=1477104387#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.ui-icon-return:before {
  margin-left: 15px;
  content: "\e600";
}
.ui-arrowlink {
  -webkit-text-stroke-width: 0;
  color: #ccc;
}
.ui-arrowlink:before {
  position: absolute;
  right: 10px;
  content: "\e601";
}
.icon-sum:before {
  content: "\e602";
  color: #b8b8b8;
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
}
.icon-close:before {
  content: "\e603";
}
.icon-guize:before {
  content: "\e647";
}
.icon-tixing:before {
  content: "\e60f";
}
@media (max-width: 320px) {
  .ui-icon-return:before {
    margin-left: 10px;
  }
}
i#lDom ~ div:not(.km-dialog),
i#lDom ~ span,
i#lDom ~ iframe {
  display: none !important;
  opacity: 0 !important;
}
body {
  min-height: 6.68rem;
  background-image: -webkit-linear-gradient(top, color-stop(#0ca1bc 0%), color-stop(#67e79d 100%));
  background-image: -o-linear-gradient(top, #0ca1bc 0%, #67e79d 100%);
  background-image: linear-gradient(to bottom, #0ca1bc 0%, #67e79d 100%);
  background-repeat: repeat-y;
}
.hd img {
  display: block;
  width: 100%;
}
.list-wrap {
  margin-top: -0.06rem;
  padding: 0 .08rem .2rem;
}
.list-wrap .item h4 {
  color: #fff;
  position: relative;
  text-align: center;
  height: 0.3rem;
  line-height: 0.3rem;
  margin-top: .15rem;
}
.list-wrap .item h4:before,
.list-wrap .item h4:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 1px;
  margin-top: -1px;
  background-color: #fff;
  width: .94rem;
  opacity: .5;
}
.list-wrap .item h4:before {
  margin-left: -8em;
}
.list-wrap .item h4:after {
  margin-left: 2em;
}
.list-wrap .item .box {
  position: relative;
  padding: .08rem;
  background-color: #fff;
}
.list-wrap .item .box h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.3;
}
.list-wrap .item .box .imgbox {
  display: block;
  width: 100%;
  overflow: hidden;
}
.list-wrap .item .box .imgbox img {
  display: block;
  width: 100%;
}
.list-wrap .item .box .source {
  display: block;
  margin-top: .1rem;
  font-size: .12rem;
  color: #b8b8b8;
}
.list-wrap .item .box .source span {
  margin-right: .06rem;
  display: inline-block;
  vertical-align: middle;
  height: 0.18rem;
  line-height: 0.18rem;
}
.list-wrap .item .box .source span.icon {
  width: .18rem;
}
.list-wrap .item .box .source span.icon img {
  display: block;
  width: 100%;
}
.list-wrap .view_1 .box {
  height: 0.78rem;
  padding-right: 1.3rem;
}
.list-wrap .view_1 .box .imgbox {
  position: absolute;
  right: .08rem;
  top: .08rem;
  width: 1.15rem;
  height: .78rem;
  overflow: hidden;
}
.list-wrap .view_1 .box .source {
  position: absolute;
  bottom: .08rem;
  font-size: .12rem;
  color: #b8b8b8;
  display: block;
}
.list-wrap .view_2 .box .imgbox {
  height: 1.6rem;
  margin-top: .1rem;
}
.list-wrap .view_2 .box .imgbox img {
  display: block;
  width: 100%;
  min-height: 1.6rem;
}
.list-wrap .view_3 .box .imgbox {
  position: relative;
  height: .78rem;
  margin-top: .1rem;
  font-size: 0;
}
.list-wrap .view_3 .box .imgbox img {
  display: block;
  width: 32%;
  min-height: .78rem;
  margin: auto;
}
.list-wrap .view_3 .box .imgbox img:first-child,
.list-wrap .view_3 .box .imgbox img:last-child {
  position: absolute;
  top: 0;
}
.list-wrap .view_3 .box .imgbox img:first-child {
  left: 0;
}
.list-wrap .view_3 .box .imgbox img:last-child {
  right: 0;
}
.list-wrap .view_4 .box .imgbox {
  height: 1.6rem;
}
.list-wrap .view_4 .box .imgbox img {
  display: block;
  width: 100%;
  min-height: 1.6rem;
}
.list-wrap .empty {
  min-height: 4.84rem;
}
.list-wrap .empty p {
  color: #fff;
}
.nav {
  display: none;
  margin-top: -1.26rem;
  margin-left: auto;
  margin-right: auto;
  width: 1.8rem;
  font-size: 0;
  overflow: hidden;
  position: relative;
}
.nav:after {
  position: absolute;
  display: block;
  content: "";
  width: .29rem;
  height: .04rem;
  background-color: #ffe500;
  left: .3rem;
  bottom: 0;
  border-radius: .02rem;
  transition: left .5s;
}
.nav li {
  display: inline-block;
  width: 50%;
  padding: .14rem 0;
  text-align: center;
  font-size: 0.16rem;
  color: #fff;
  line-height: 1;
  opacity: .7;
}
.nav li:first-child {
  opacity: 1;
}
.nav.second:after {
  left: 1.2rem;
}
.nav.second li:first-child {
  opacity: .7;
}
.nav.second li:last-child {
  opacity: 1;
}
